<li>
    {{burger_name}}
    {{#unless devoured}}
    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
        devour
    </button>
    {{/unless}}
    <button class="delete" data-id="{{id}}">Delete</button>
</li>