<li>
    {{burger_name}}

    <button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}DEVOURED{{else}}DEVOURED TIME!{{/if}}
    </button>
    <button class="delete">Delete</button>
</li>