<li>
    {{burger_name}}

    <button class="change-devour" data-id="{{id}}" data-newdevoured=0>
        {{#if devoured}}DEVOURED{{else}}DEVOUR TIME!{{/if}}
    </button>
    <button class="delete">Delete</button>
</li>